<p>基础使用</p>
<momo-color-picker [nzDisabledFormat]="false" [(ngModel)]="color" (ngModelChange)="changeColor($event)"></momo-color-picker>
<hr />
<p>自定义触发元素</p>
<momo-color-picker  [nzFlipFlop]="flipFlop" [nzDisabledFormat]="false" [(ngModel)]="color" (ngModelChange)="changeColor($event)"></momo-color-picker>
<ng-template #flipFlop>
  <button nz-button nzType="primary" [style.background-color]="color">Color</button>
</ng-template>
<hr />
<p >tooltip, 仅支持hover触发方式</p>
<momo-color-picker [nzDisabledFormat]="false" [tooltipConfig]="tooltipConfig" [(ngModel)]="color" (ngModelChange)="changeColor($event)"></momo-color-picker>

<h2>Quarter</h2>

<button nz-button nzType="primary" (click)="changeLanguage()">切换语言</button>
<ngx-quarter 
  [nzBorderless]="false"
  [nzStatus]="'error'"
  [nzMode]="datePickerConfig.mode"
  [isRange]="datePickerConfig.isRange"
  [nzInline]="datePickerConfig.isInline"
  [nzShowTime]="datePickerConfig.showTime"
  [nzFormat]="datePickerConfig.format"
  [nzSize]="datePickerConfig.size"
  [nzDisabled]="datePickerConfig.disabled"
  [nzDisabledDate]="datePickerConfig.disabledDate"
  [nzDisabledTime]="datePickerConfig.disabledDateTime"
  [nzRanges]="datePickerConfig.ranges"
  [language]="language"
  [(ngModel)]="inputValue"
  (ngModelChange)="onDateChange($event)"
  (nzOnOk)="onDateChange($event)"
  >
</ngx-quarter>
<ng-template #tplRender let-current>
  <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
    {{ current.getDate() }}
  </div>
</ng-template>
<p>{{inputValue}}</p>
<p> formatDate: {{ formattedDate }}</p>