@ant-prefix: ant;
@border-radius-base: 2px;
@margin-sm: 12px;
@border-width-base: 1px;
@border-color-split: rgba(0, 0, 0, 0.06); 
@primary-color: #1890ff;
@margin-xss: 4px; 
@margin-xs: 8px;
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@disabled-color: fade(#000, 25%);
@background-color-base: hsv(0, 0, 96%);
@disabled-bg: @background-color-base;